<html lang="en">
<head>
</head>
<body>
    <form method="POST" action="/addusergames" >
        <label for="username">Username</label>
        <br>
        <input type="text" name="username"/>
        <br>
        <label for="pass">Password</label>
        <br>
        <input type="text" name="pass"/>
        <br>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>