<html lang="en">
<head>
        <%- include('../head.ejs') %>
        <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-md-6 col-sm 12">
                <div class="col-md-6 col-sm-12">
                        <img class="my-5"src="/binar-logo.png" alt="">
                    </div>

        </div>
        <div class="col-md-6 col-sm-12" style="margin-top: 20vh;">
            <h1 class="color-white">Silahkan Mengisi Username Anda :</h1>
                <form method="POST" action="/addusergames" >
                    <div class="form-group">
                            <label class="color-white" for="inpt">Username</label>
                            <input type="text" class="form-control" name="username" id="inpt">
                          </div>
    
                          <div class="form-group">
                                <label class="color-white" for="pass">Password</label>
                                <input type="password" class="form-control" name="pass" id="pass">
                              </div>
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </form>
        </div>
    </div>
    </div>
    
</body>
</html>