<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('head.ejs') %>
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
         <div class="row">
           <div class="col-4 col-md-4 col-sm-12">
              
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">USERNAME GAME</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Add/Show Username Game</h6>
                      
                      <a href="/usergames/create" class="btn btn-primary">Add</a>
                    <a href="/usergame" class="btn btn-primary">Show</a>
                    </div>
                  </div>
                
           </div>
           <div class="col-4 col-md-4 col-sm-12">
              
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">BIODATA USER</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Add/Show Biodata User</h6>
                      
                      <a href="/userbiodata/create" class="btn btn-primary">Add</a>
                    <a href="/userbiodata" class="btn btn-primary">Show</a>
                    </div>
                  </div>
            </div>
            <div class="col-4 col-md-4 col-sm-12">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">History USER</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Add/Show History User</h6>
                        
                        <a href="/userhistory/create" class="btn btn-primary">Add</a>
                        <a href="/userhistory" class="btn btn-primary">Show</a>
                      </div>
                    </div>
              </div>
         </div>                    
    </div>
</body>
</html>