<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Gamer</title>
    <%- include('../head.ejs') %>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <div class="my-5">
        <h1 class="color-white">LIST USERNAME</h1>
        <table class="table table-hover table-light">
                <thead>
                        <tr >
                          <th class="bg-primary">ID</th>
                          <th class="bg-primary">Username</th>
                          <th class="bg-primary">Password</th>
                        </tr>
                      </thead>
                      <tbody>
                            <% for (var i =0; i<data.rows.length; i++) { %>
                                <tr>
                                    <td><%= data.rows[i].id %></td>
                                    <td><%= data.rows[i].username %></td>
                                    <td><%= data.rows[i].pass %></td>
                                </tr>
                                <% } %>
                      </tbody>
        </table>
        
    </div>
    </div>
</body>
</html>